*.csv
*.o
*.pyc
*.png
*.stackdump
setup-x86_64*
ccantera*
cantera/*
cygwin/*
CanteraPFR/bin/*
CanteraPFR/build/*
CanteraPFR/doc/build/*
CanteraPFR/lib/*
CanteraPFR/Makefile.in
external/*
sundials/*
test-dev/*
cantera/
